 * {
    margin: 0;
    padding: 0;
 }

 body {
    background-color: black;
    color: white;
 }
 .heading{
   margin-top: 20px;
 }
 .nav-bar {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
 }

 nav ul li {
    list-style: none;
    margin-right: 30px;
    font-size: 1.30rem;
 }

 nav ul li a {
    text-decoration: none;
    font-weight: 700;
    color: white;
    font-style: italic;
 }

 nav ul li a:hover {
    background-color: aqua;
    border-radius: 10px;
    font-size: 30px;
 }
 .icon  {
    display: flex;
   justify-content: center;
   align-items: center; 
    font-size: 1rem;
    margin-top: 5px;
    background-color: #4fd1c5;
    border: none;
    padding: 5px 10px;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    cursor: pointer;
 }

 i {
   font-size: 10px;
   padding: 10px;
   background-color: black;
   border-radius: 20px;
   margin-right: 10px;
 }
 .para{
     color: #4fd1c5;
     margin-bottom: 10px;
     margin-right: 700px;
 }
 .heading{
    text-align: center;
    align-items: center;
    text-transform:uppercase;
 }
 .heading h1{
   font-style: italic;
   font-size: 100px;
   margin-right: 700px;
   margin-left: 200px;
 }
 .heading h2{
   font-size: 100px;
   font-style: italic;
   margin-right: 700px;
 }
.section{
   margin-top: 100px;
}
 .second-para{
   font-size: 1.40rem;
   text-align: center;
   align-items: center;
 }
 .second-para :first-child {
   margin-right: 450px;
 }
 #para-1{
   margin-right: 490px;
 }
 
 .butn{
   position: relative;
   top: -50px;
   margin-left: 850px;
 }
.happy{
   margin-left: 100px;
   margin-top: 40px;
}
.my-icon{
   width: 40px;
   height: 40px;
   border-radius: 50%;
   text-align: end;
   margin-left: 1300px;
   position: relative;
   top: -200px;
   height: 10px;
   width: 10px;
   background-color: white;
}
 